/*-------------------------------------------------
BASIC SETUP
-------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial',  sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/*-------------------------------------------------
REUSABLE COMPONENTS
-------------------------------------------------*/

.row {
  max-width: 1140px;
  margin:0 auto;
}

section {
  padding: 80px 0;

}

.box {
  padding: 1%;

}

/*------- HEADINGS -------*/

h1, h2, h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 0px;
  color: #CDC9C6;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
  /*text-align: right;*/
}

h2 {
  font-size: 190%;
  word-spacing: 2px;
  /*text-align: right;*/
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: #9FA8A5;

}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
  letter-spacing: 1px;
  text-align: center;
}

/*h2:after {
  display: block;
  height: 2px;
  background-color: #B87B41;
  content: " ";
  width: 100px; 
  margin: 0 auto;
  margin-top: 30px;

}*/

/*-------------------------------------------------
HEADER
-------------------------------------------------*/
header {
  background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../images/BurneyFalls.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.hero {
  margin-top: 100px;
}

.hero-text-box h1 {
  padding-bottom: -5px;
}

.hero-pic {
  display: inline-block;
  width: 40%;
  text-align: right;
  border: solid #9FA8A5;
  border-radius: 50%;
}

.hero-boxes {
  margin-top: 30px;
}

.hero-boxes:first-child {
  text-align: right;
  padding-right: 3%;
}

.hero-boxes:last-child {
  text-align:;
  padding-right: 3%;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
 .main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:active,
 .main-nav li a:hover {
  border-bottom: 2px solid #9699A5;
}


/*-------------------------------------------------
PROFILE
-------------------------------------------------*/
.section-projects div {
  display: block;
}

.project-box {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  margin-left: 0%;
  margin-top: -5%;
  /*box-shadow: 0 5px 5px #efefef;*/
}

.project-box col {
  padding-left: 0;
  border-left: 12px solid #9699A5;
}

.project-box ul {
  list-style: none;
}

.project-box ul li {
  padding: 5px 0;
}

.section-projects h2 {
  text-align: left;
  margin-left: 15%;
  margin-top: -2%;
  font-weight: 300;
}

/*------- ICONS -------*/

.icon-small i{
  display: inline-block;
  width: 50px;
  text-align: center;
  color: #9FA8A5;
  font-size: 190%;
  opacity: .4;
  transition: transform 0.4s;
}

.icon-small i:hover {
  opacity: 1;
  color: #6D7B3C;
  transform: scale(1.25);
}

a:link,
a:visited {
  color: #43423D;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #43423D;
  transition: border-bottom 0.2s, color0.2s
}

a:hover,
a:active {
  color: #6D7B3C;
  border-bottom: 1px solid transparent;
}

/*colors
#43423D
#CDC9C6
#9FA8A5
#9699A5
6D7B3C*/